#r-1 
		{
		}
#r-1 img
		{width: 250px;
		padding:0px 15px 30px 65px;
		}
#r-2 img
		{width: 250px;
		padding:0px 15px 30px 65px;
		}
#r-3 img
		{width: 250px;
		padding:0px 15px 30px 65px;
		}
/*#title
		{width: 570px;
		font-size: 18px;
		padding-bottom: 25px;
		line-height: 150%;
		}*/